/* Hide the scrollbar for WebKit browsers (Chrome, Safari) */
.menu-grid::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Hide the scrollbar for Firefox */
.menu-grid {
  scrollbar-width: none; /* Firefox */
}

/* Hide the scrollbar for IE, Edge */
.menu-grid {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

/*  overflow-x: auto; Enables horizontal scrolling */
/* overflow-y: hidden; Prevents vertical scrolling */
/* -webkit-overflow-scrolling: touch; Smooth scrolling for touch devices */
/* #board {
  border: none;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.87);
  position: relative;
  max-width: 320px;
  min-width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bgColor);
  margin: auto;
}
#board > form {
  background-color: var(--bgColor);
}
.scroll-posts {
  display: flex;
  overflow: auto;
  max-width: 320px;
  min-width: 320px;
  height: 230px;

  margin: auto;
}
.job-post {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin-left: 10px;
  background-color: #191919;
  padding-top: 10px;
  cursor: pointer;
}
.company-logo {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.company-logo img {
  max-width: 145px;
  max-height: 120px;
  border-radius: 5px;
}

.title {
  text-align: center;
}

.i {
  margin: auto;
  text-align: center;
}

.icon {
  width: 30px;
  height: 30px;
  float: right;
}

.agency-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 8px;
  font-size: 15px;
}
.posts {
  margin: auto auto 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* SA Youth  */
h2.card-title {
  font-size: 1.5rem;
  color: #212529;
  line-height: 1.1875;
  margin-bottom: 8px;
}
h3.opportunity-company {
  font-size: 1.25rem;
  color: #6c757d;
  line-height: 1.1875;
  margin-bottom: 12px;
}
p.verified-text {
  display: flex;
  align-items: center;
  color: #1b6eef;
  font-weight: 500;
  font-size: 0.75rem;
  margin-bottom: 0;
}
.card-header-item {
  display: flex;
  align-items: center;
  height: 25px;
}
.mb-3,
.my-3 {
  margin-bottom: 24px !important;
}
.card-summary p {
  font-size: 1rem;
  color: #2b2b2b;
  line-height: 19px;
  margin-bottom: 0;
}
.card-summary strong {
  font-weight: normal;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.post-summary {
  text-align: justify;
  width: 95%;
  padding-top: 15px;
  text-overflow: ellipsis;
}
.post-summary * {
  margin: 0;
}
.post-summary > h5 {
  margin-top: 5px;
}
.job-field {
  font-size: 1rem;
  color: #6c757d;
  line-height: 1.1875;
  text-align: center;
}

.details {
  max-height: 300px;
}
.full-details {
  width: 100%;
  overflow-y: auto;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: justify;
}
.short-detail {
  text-overflow: ellipsis;
  text-align: justify;
  overflow-y: auto;
  max-height: inherit;
  margin-bottom: 20px;
}
.snippet {
  max-height: 100px;
  text-overflow: ellipsis;
  overflow: clip;
}
.snippet > *,
.short-detail > * {
  text-align: justify;
}
.read-more {
  background-color: inherit;
  color: #367ef1;
  border: none;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
}
/* -------------------- */
.sm-nav {
  position: fixed;
  bottom: -30px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  background-color: #6ba1f4;
  max-width: 400px;
  min-width: 400px;
  margin: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: clip;
  border-radius: 5px;
}

.post > * {
  margin: 0;
}

.sa-youth,
.post {
  border-top: 5px solid #6ba1f4;
  border-radius: 3px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  color: black;
  padding: 20px;
  max-width: 260px;
}

.sa-youth > span {
  /* height: 350px; */
  overflow-y: scroll;
}

.sa-youth > span::-webkit-scrollbar {
  height: 4px;
  width: 5px;
}

.sa-youth > span::-webkit-scrollbar-track {
  background-color: inherit;
  border-radius: 5px;
}

.sa-youth > span::-webkit-scrollbar-thumb {
  background-color: inherit;
}

form > hr,
.sa-youth > hr,
.post > hr {
  border: none;
  border-radius: 4px;
  height: 1px;
  width: 80%;
  background-color: #989998;
}

.ellipse {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;

  line-height: 1.1875;
}

.more-info {
  color: black;
  max-width: 320px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
