#root {
  max-width: 700px;
  margin: 0 auto;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  height: 4px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #3dd0e4;
  border-radius: 5px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: #fdfdfd;

}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(248, 247, 247);
  border-radius: 10px;
}