:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
  --bgColor: #2c2b2b;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

#root > nav > button:nth-child(2) {
  margin: 0 70px 0 70px;
}

#headline {
  margin-bottom: 30px;
  background-color: var(--bgColor);
  border-radius: 2px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: justify;
  padding: 20px;
  color: white;
}
#headline-message {
  border-radius: 4px;
}

#share-site {
  border: none;
  background-color: rgb(0, 174, 255);
  border-radius: 5px;
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}
#share-site > * {
  width: 30px;
  height: 20px;
  filter: invert(1);
}
.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
}

.contacts {
  margin: auto;
  text-align: center;
}
.contact:nth-child(2) {
  margin-left: 10px;
}
.contact {
  width: 30px;
  height: 30px;
}

.contact > * {
  width: inherit;
  height: inherit;
}

.close {
  color: red;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.closeBtn {
  background-color: red;
  color: wheat;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 100px;
  height: 30px;
}

#info {
  border: none;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.87);
  background-color: #5e5e5e23;
  max-width: 375px;
  min-width: 320px;

  top: 10px;
  height: 100dvh;
  backdrop-filter: blur(5px);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: opacity 1s ease, transform 2s ease;
  transform: translateY(-50px);
}

#headline-job-info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #27272780;
  border-radius: 5px;
  font-size: small;
  padding: 15px;
  text-align: left;
}
#headline-job-info > li {
  list-style: none;
  margin-top: 5px;
}

.logo {
  max-width: 300px;
  max-height: 250px;
  border-radius: 5px;
}
.title {
  text-align: center;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.line {
  border: none;
  border-radius: 4px;
  height: 1px;
  width: 100%;
  background-color: #989998;
}
#info-card > form {
  padding: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#info-card {
  border: none;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.87);
  max-width: 375px;
  min-width: 320px;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;

  justify-content: center;

  width: 100%;
}
.header > h3 {
  margin-right: 10px;
}
.header > button {
  background-color: green;
  color: whitesmoke;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  width: 63px;
  height: 35px;
}

.source {
  background-color: #6e7785;
  height: 40px;

  border-radius: 5px;

  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.documentFrame {
  min-height: 700px;
  border: none;
  background-color: inherit;
}
.small h1,
.small h2 {
  font-size: 1.1em;
}
.board-banner {
  width: 200px;
  height: 200px;
  margin: auto auto 5px auto;
  border-radius: 5px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingDiv {
  position: relative;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  background-color: var(--bgColor);
}

.loadingDiv:before {
  content: "loading";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loadingDiv:after {
  content: "";
  display: block;
  margin: 20px auto;
  width: 100px;
  height: 100px;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  animation: spin 2s linear infinite;
}
